# dependencies
node_modules/

# env files
.env
.env.local
.env.*.local

# bun
bun.lockb
*.bun

# prisma generated client
src/generated/

# build output
dist/
build/

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# misc
.DS_Store
*.pem
coverage/
resume.pdf